*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

.vs
.vscode
.idea
.local-chromium

*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Rr]esources/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ee]xecutables
msbuild.log
msbuild.err
msbuild.wrn
